In [1]:
import pandas as pd

In [5]:
demo_df = pd.DataFrame({"Integer Feature": [0,1,2,1], "Categorical Feature": ['fox', 'box', 'socks', 'socks']})

In [7]:
display(demo_df)

   Integer Feature Categorical Feature
0                0                 fox
1                1                 box
2                2               socks
3                1               socks

In [13]:
pd.get_dummies(demo_df)

,Integer Feature,Categorical Feature_box,Categorical Feature_fox,Categorical Feature_socks
0,0,False,True,False
1,1,True,False,False
2,2,False,False,True
3,1,False,False,True

In [15]:
pd.get_dummies(demo_df, columns = ['Integer Feature', 'Categorical Feature'])

,Integer Feature_0,Integer Feature_1,Integer Feature_2,Categorical Feature_box,Categorical Feature_fox,Categorical Feature_socks
0,True,False,False,False,True,False
1,False,True,False,True,False,False
2,False,False,True,False,False,True
3,False,True,False,False,False,True